<div class="container devise-container">
  <div class="row">
    <div class="mx-auto devise">
      
      <%= image_tag "logo-vertical.svg", class: "devise__logo animate--from-fade-bottom delay-5", data: {scrollable: "", "scrollable-modifier": "animate--launched"} %>

      <h2 class="animate--from-fade-bottom delay-4" data-scrollable data-scrollable-modifier="animate--launched">Inscription</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        
        <%= devise_error_messages! %>

        <div class="field animate--from-fade-bottom delay-3" data-scrollable data-scrollable-modifier="animate--launched">
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          <%= f.label :email %>
        </div>

        <div class="field animate--from-fade-bottom delay-2" data-scrollable data-scrollable-modifier="animate--launched">
          <%= f.password_field :password, autocomplete: "off" %>
          <%= f.label :password, value: "Mot de passe" %>
        </div>

        <div class="field animate--from-fade-bottom delay-1" data-scrollable data-scrollable-modifier="animate--launched">
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
          <%= f.label :password_confirmation, value: "Confirmation" %>
        </div>

        <div class="actions text-right animate--from-fade-bottom" data-scrollable data-scrollable-modifier="animate--launched">
          <%= f.submit "Inscription" %>
        </div>
      <% end %>
        
        <div class="text-right animate--from-fade-bottom" data-scrollable data-scrollable-modifier="animate--launched">
          <%= render "devise/shared/links" %>
        </div>
    </div>
  </div>
</div>
