
<div id="tree" class="tree">
  <div class="tree__container">
    <div class="tree__ramifications">
    
    </div>
    <% fragments.each do |fragment| %>
    <a 
      href="<%= fragment_path(fragment) %>"
      <% if fragment.thumbnail.present? %> style="background-image: url('<%= fragment.thumbnail.url %>')" <% end %>
      id="fragment-<%= fragment.id %>" 
      class="tree__item"
      data-children="<% fragment.children.each do |f| %><%= f.id %><% if fragment.children.last != f %>,<% end %><% end %>">
        
        <p class="tree__item-title"><%= fragment.name %></p>
        <div class="tree__item-ramifications">
          <span class="tree__item-ramification"></span>
        </div>
    </a>
    <% end %>
  </div>
</div>
