<div class="container devise-container">
  <div class="row">
    <div class="mx-auto">
      <h2>Mot de passe oublié</h2>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          <%= f.label :email, value: "E-mail" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="actions text-right">
          <%= f.submit "Envoyer moi les instructions" %>
        </div>
      <% end %>
      <div class="text-right">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
