<div class="home" data-current="#section-1">

  <section id="section-landing" class="landing">   
    <div class="center-y">
      <svg class="landing__logo" xmlns="http://www.w3.org/2000/svg" viewBox="-50 -50 200 216">
        <g id="logo__group">
          <path class="landing__logo-left" fill="#143adb" style="opacity: .5;" class="cls-1" d="M9.28,46a46,46,0,0,0,46,46V0A46,46,0,0,0,9.28,46Z"/>
          <path class="landing__logo-right" fill="#ffcca9" style="opacity: .65;" class="cls-2" d="M82.89,69.46a46,46,0,0,0-46-46V115.5A46,46,0,0,0,82.89,69.46Z"/>
        </g>
      </svg>
      <div class="landing__container">
        <h1 class="landing__content">SPELL</h1>
        <a class="landing__content landing__content--hidden">Regarder le trailer</a>
      </div>
    </div>
  </section>

  <section id="section-1" class="panel">
    <div class="container panel__container"> 
      <div class="panel__block panel__title-container" data-scrollable="50px">
        <span class="panel__count animate--from-swipe-left" data-scrollable data-scrollable-modifier="animate--launched">01</span>
        <h2 class="panel__title">
          <span class="panel__title-line">Une application web</span>
          <span class="panel__title-line">pour s'initier à la lecture</span>
        </h2>
      </div>
      

      <div class="panel__container panel__container-1 panel__container--end">
        <div class="panel__block panel__text-container" 
        data-scrollable data-scrollable-modifier="panel__text-container--visible" data-scrollable-offset="200" data-scrollable-debug>
          <h3 class="panel__text-title">Simplissime</h3>
          <p class="panel__text-content">
            Rien à intaller<br>
            Accessible via une simple URL,<br>
            Parcourez votre bibliothèque et sélectionnez l'histoire que vous souhaitez lire.<br>
            Partez à l'aventure
          </p>
          <span class="panel__text-separator"></span>
          <p class="panel__text-content uppercase">Apprentissage des mots</p>
          <p class="panel__text-content uppercase">Développement de la motricité</p>
          <div>
            <a href="" class="btn btn--slide">Découvrir</a>  
          </div>
        </div>

        <div id="background-mockup" class="panel__background" data-scrollable="-20%">
          <%= image_tag "mock-up.png" %>
        </div>
      </div>
    </div>  
  </section>
    
  <section id="section-2" class="panel">   
    
    <div id="background-section-2" class="panel__background">
      <video autoplay="true" loop="true" muted> 
        <source src="/videos/chateaux.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video> 
    </div>

    <div class="container panel__container"> 
      
      <div id="" class="panel__container-1 panel__container panel__container--start">
        <div class="panel__block panel__text-container"
        data-scrollable data-scrollable-modifier="panel__text-container--visible" data-scrollable-offset="200" >
          <h3 class="panel__text-title">Passionant</h3>
          <p class="panel__text-content">
            Au fur et à mesure que le parent lit, l'histoire se matérialise et s'anime sous les yeux de l'enfant grâce à la reconnaissance vocale.<br>
            Des ambiances sonores <br>
            renforcent la puissance du récit.
          </p>
          <span class="panel__text-separator"></span>
          <p class="panel__text-content uppercase">Apprentissage des mots</p>
          <p class="panel__text-content uppercase">Développement de la motricité</p>
        </div>
      </div>
      
      <div class="panel__container mt-4 panel__container-2">
        <div class="panel__block panel__title-container"  data-scrollable="-20px">
          <span class="panel__count animate--from-swipe-left" data-scrollable data-scrollable-modifier="animate--launched">02</span>
          <h2 class="panel__title">
            <span class="panel__title-line">Une nouvelle manière</span>
            <span class="panel__title-line">de raconter des histoires</span>
          </h2>
        </div>
      </div>
    </div>  
  </section>

  <section id="section-3" class="panel">   
    
    <div class="container panel__container panel__container-1"> 
      <div id="background-section-3" class="panel__background" data-scrollable="25%">
        <%= image_tag "photo.jpg" %>
      </div>
      <div class="panel__block panel__title-container" data-scrollable="20px">
        <span class="panel__count animate--from-swipe-left" data-scrollable data-scrollable-modifier="animate--launched">03</span>
        <h2 class="panel__title">
          <span class="panel__title-line">Des récits</span>
          <span class="panel__title-line">interactifs</span>
        </h2>
      </div>
    </div>  

    <div class="container panel__container panel__container-2">
      <div class="panel__block panel__text-container panel__text-container--horizontal"
      data-scrollable data-scrollable-modifier="panel__text-container--visible" data-scrollable-offset="100" >
        <div class="pad-title">
          <h3 class="panel__text-title">Élémentaire.</h3>
          <p class="panel__text-content">
            Des histoires à choix multiples.<br>
            Des interactions finements pensées : manipulation d'objets, jeux cherche et trouve, mots magique et bien plus encore
          </p>
        </div>
              
        <div>
          <p class="panel__text-content uppercase">Apprentissage des mots</p>
          <p class="panel__text-content uppercase">Développement de la motricité</p>
        </div>
      </div>
    </div>

  </section>

  <section id="section-4" class="panel">
  
    <div class="container panel__container panel__container-2"> 
      <div id="background-mockup" class="panel__background" data-scrollable="20%">
        <video autoplay loop muted>
          <source src="/videos/heros.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video> 
      </div>

      <div class="panel__block panel__title-container" data-scrollable="-20px">
        <span class="panel__count animate--from-swipe-left" data-scrollable data-scrollable-modifier="animate--launched">04</span>
        <h2 class="panel__title">
          <span class="panel__title-line">Un héros</span>
          <span class="panel__title-line">personnalisable</span>
        </h2>
      </div>
      
      <div class="panel__container-1 pad-title">
        <div class="panel__block panel__text-container"
        data-scrollable data-scrollable-modifier="panel__text-container--visible" data-scrollable-offset="200" >
          <h3 class="panel__text-title">Ludique</h3>
          <p class="panel__text-content">
            Spell offre la possibilité à l'enfant de choisir son héros, son nom, son aspect, son cri de guerre
          </p>
          <span class="panel__text-separator"></span>
          <p class="panel__text-content uppercase">Apprentissage des mots</p>
          <p class="panel__text-content uppercase">Développement de la motricité</p>
        </div>
      </div>
    </div>  
  </section>

  <section id="section-5" class="panel">

    <div class="container panel__container panel__container-1"> 
      <div id="background-5" class="panel__background">
        <video autoplay loop muted>
          <source src="/videos/dragon.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video> 
      </div>

      <div class="panel__block panel__title-container" data-scrollable="50px">
        <span class="panel__count animate--from-swipe-left" data-scrollable data-scrollable-modifier="animate--launched">05</span>
        <h2 class="panel__title">
          <span class="panel__title-line">Des mondes fantastiques</span>
          <span class="panel__title-line">à explorer</span>
        </h2>
      </div>

      <div class="container panel__container panel__container-2">
        <div class="panel__block panel__text-container panel__text-container--horizontal"
        data-scrollable data-scrollable-modifier="panel__text-container--visible" data-scrollable-offset="200" >
          <div class="pad-title">
            <h3 class="panel__text-title">Légendaire.</h3>
            <p class="panel__text-content">
              Paysages aux milles couleurs, créatures amies et <br>
              monstres farouches seront de la partie. 
            </p>
          </div>              
          <div>
            <p class="panel__text-content uppercase">Apprentissage des mots</p>
            <p class="panel__text-content uppercase">Développement de la motricité</p>
          </div>
        </div>
      </div>

      <div class="container text-center spaceship__container">
        <%= image_tag "fusee.png", id: "spaceship", class: "spaceship" %>
        <%= link_to "Débuter l'aventure", book_marks_path, class: "btn btn--upperline", id: "aventure-start" %>
      </div>

    </div>
  </section>


  <section id="section-6" class="panel">
    <div class="container panel__container panel__container-1"> 
      <h2 class="panel__title-huge">"Parfois on arrive à<br> faire des choses et<br> c'est cool"</h2>
      <p>_Irène, 6 ans_</p>
      <div id="background-6" class="panel__background" data-scrollable="25%">
        <%= image_tag "photo.jpg" %>
      </div>
    </div>  
  </section>

  <!-- TIMELINE -->
  <div class="container">
    <div class="timeline">
      <a class="timeline__item timeline__item--active" href="#section-1" data-scroll data-options='{"offset": 60}'>
        <span class="timeline__item-count">01</span>
        <span class="timeline__item-label">Simplissime</span>
      </a>
      <a class="timeline__item" href="#section-2" data-scroll>
        <span class="timeline__item-count">02</span>
        <span class="timeline__item-label">Passionant</span>
      </a>
      <a class="timeline__item" href="#section-3" data-scroll data-options='{"offset": 60}'l>
        <span class="timeline__item-count">03</span>
        <span class="timeline__item-label">Élémentaire</span>
      </a>
      <a class="timeline__item" href="#section-4" data-scroll data-options='{"offset": 30}'>
        <span class="timeline__item-count">04</span>
        <span class="timeline__item-label">Ludique</span>
      </a>
      <a class="timeline__item" href="#section-5" data-scroll data-options='{"offset": 200}'>
        <span class="timeline__item-count">05</span>
        <span class="timeline__item-label">Légendaire</span>
      </a>
      <a class="timeline__item" href="#section-6" data-scroll>
        <span class="timeline__item-count">06</span>
        <span class="timeline__item-label">Simplissime</span>
      </a>
    </div>
  </div>

</div>
