<%= form_for(book, html: { enctype: "multipart/form-data"}) do |f| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :author %>
    <%= f.text_field :author %>
  </div>

  <div class="field">
    <%= f.label :age %>
    <%= f.number_field :age %>
  </div>

  <div class="field">
    <%= f.label :format %>
    <%= f.select :format, Book.formats %>
  </div>

  <div class="field">
    <%= f.label :publisher %>
    <%= f.text_field :publisher %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>


  <div class="ressources" data-namespace="book">
    <div class="field">
      <label for="">Ressources</label>
    </div>
    <div class="ressources__fields">
      <%= f.fields_for :ressources, book.ressources do |fr| %>
        <div class="ressources__field" data-index="<%= fr.index %>">
          <div class="ressources__field-name">
            <%= fr.text_field :name, placeholder: "Nom du fichier" %>
          </div>

          <div class="ressources__field-file">
            <%= fr.file_field :file %>
            <%= fr.label :file, value: "Télécharger" %>
          </div>
          <!-- Onclick, pass _destroy to 1  -->
          <%= fr.hidden_field :_destroy, :class => 'removable' %>
          <%= fr.hidden_field :id %>
          <button class="ressources__field-remove"><i class="material-icons">close</i></button>
        </div>
      <% end %>
      <% i = book.ressources.length %>

    <div class="ressources__field ressources__field--added" data-index="<%= i %>">
      <div class="ressources__field-name">
        <input value="" name="book[ressources_attributes][<%= i %>][name]" id="book_ressources_attributes_<%= i %>_name" placeholder="Nom du fichier" type="text">
      </div>
      <div class="ressources__field-file">
        <input name="book[ressources_attributes][<%= i %>][file]" id="book_ressources_attributes_<%= i %>_file" type="file">
        <label for="book_ressources_attributes_<%= i %>_file">Télécharger</label>
      </div>
      <button class="ressources__field-remove">
        <i class="material-icons">close</i>
      </button>
    </div>

    <button class="ressources__add btn">Ajouter</button>
  </div>
  

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
