<%= render :partial => "partials/header" %>
<div class="container">
	<p id="notice"><%= notice %></p>

	<p>
	  <strong>Title:</strong>
	  <%= @book.title %>
	</p>

	<p>
	  <strong>Author:</strong>
	  <%= @book.author %>
	</p>

	<p>
	  <strong>Age:</strong>
	  <%= @book.age %>
	</p>

	<p>
	  <strong>Interactive:</strong>
	  <%= @book.interactive %>
	</p>

	<%= link_to 'Edit', edit_book_path(@book) %> |
	<%= link_to 'Back', books_path %>
</div>