<div class="container devise-container">
  <div class="row">
    <div class="mx-auto my-auto devise">
      <h2>Log in</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email, value: "Nom d'utilisateur" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label :password, value: "Mot de passe" %>
          <%= f.password_field :password, autocomplete: "off" %>
        </div>
  
        <div class="text-right">
          <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
            <%= link_to "Mot de passe oublié ?", new_password_path(resource_name), class: "color-grey" %><br />
          <% end -%>
        </div>
        

        <% if devise_mapping.rememberable? -%>
          <!-- <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div> -->
        <% end -%>

        <div class="actions text-right">
          <%= f.submit "Connexion" %>
        </div>
      <% end %>
      
      <div class="text-right">
        <%= render "devise/shared/links" %>  
      </div>
      
    </div>
  </div>
</div>
