<%= form_for [book, fragment] do |f| %>
  <% if fragment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fragment.errors.count, "error") %> prohibited this fragment from being saved:</h2>

      <ul>
      <% fragment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :book_id %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>


  <div id="codemirror-block" class="field codemirror">
    <%= f.label :content %>
    <%= f.text_area :content, class: "codemirror__textarea" %>
    <button id="" class="material-icons" data-toggle-target="#codemirror-block" data-toggle-modifier="codemirror--full" >
      fullscreen
    </button>
  </div>

  <div class="field">
    <%= f.label :config %>
    <%= f.text_area :config %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
