

<div class="fragment">
  <div class="fragment__background"></div>
  <canvas class="fragment__canvas fragment__canvas--hidden" id="bard-canvas" data-book="<%= @fragment.book.id %>"></canvas> 
  <div class="fragment__foreground"></div>
</div>


<div class="loader">
  <%= image_tag "loader.gif", class: "loader__img" %>
</div>

<!-- Menu -->
<div id="controller" class="control control--hide">
  <button id="control-menu-btn" class="control__btn">
  </button>

  <div class="control__out control__out--6">
    <button id="pass-interaction-btn" class="control__btn control__out-item control__out-item--dark">
      <%= image_tag "picto/picto-arrow.svg" %>
      <span class="control__out-item-label">Passer<br>l'interaction</span>
    </button>
  </div>

  <div class="control__menu">
    <button class="control__btn control__menu-item" data-target="help">
      <%= image_tag "picto/picto-_.svg" %>
    </button>
    <button class="control__btn control__menu-item" data-target="settings">
      <%= image_tag "picto/picto-settings.svg" %>
    </button>
    <button class="control__btn control__menu-item" data-target="arborescence">
      <%= image_tag "picto/picto-boussole.svg" %>
    </button>
    <button class="control__btn control__menu-item" data-target="fullscreen">
      <%= image_tag "picto/picto-fullscreen.svg" %>
    </button>
    <a href="<%= book_path(@fragment.book) %>" class="control__btn control__menu-item" data-target="pause">
      <%= image_tag "picto/picto-sortie.svg" %>
    </a>
  </div>
</div>

<div id="customization-panel" class="customization customization--hidden">
  <h2 class="title-1 text-center">Personnalise ton héros</h2>
  <div class="customization__sidebar customization__sidebar--left">
    <h3 class="customization__sub-title">A quoi ressembles-tu ?</h3>
    <div class="customization__lists">
       <div id="body-part-categories-container" class="customization__list  customization__list--depth-1">
        <button id="csqe" class="customization__list-item"><%= image_tag "personnalisation/asset-head-shield.png" %></button>
        <button id="tete" class="customization__list-item"><%= image_tag "personnalisation/asset-head.png" %></button>
        <button id="crps" class="customization__list-item"><%= image_tag "personnalisation/asset-body.png" %></button>
        <button id="bras" class="customization__list-item"><%= image_tag "personnalisation/asset-arm.png" %></button>
        <button id="jmbe" class="customization__list-item"><%= image_tag "personnalisation/asset-leg.png" %></button>
      </div>
      <div id="body-part-choices-container" class="customization__list customization__list--hidden customization__list--depth-2">
       <!--  <button class="customization__list-item"><%= image_tag "personnalisation/asset-head-shield.png" %></button>
        <button class="customization__list-item"><%= image_tag "personnalisation/asset-head.png" %></button>
        <button class="customization__list-item"><%= image_tag "personnalisation/asset-body.png" %></button>
        <button class="customization__list-item"><%= image_tag "personnalisation/asset-arm.png" %></button>
        <button class="customization__list-item"><%= image_tag "personnalisation/asset-leg.png" %></button> -->
      </div>
    </div>
  </div>

  <div class="customization__sidebar customization__sidebar--right">
    <h3 class="customization__sub-title">De quelle couleur es-tu ?</h3>
    <div class="customization__section customization__colors">
      <button data-color="#1a33e3" id="customization-color-blue" class="customization__color"></button>
      <button data-color="#ffe600" id="customization-color-yellow" class="customization__color"></button>
      <button data-color="#02114a" id="customization-color-dark" class="customization__color"></button>
      <button data-color="#ff8d79" id="customization-color-orange" class="customization__color"></button>
    </div>

    <h3 class="customization__sub-title">Pousse ton cri de guerre</h3>
    <div class="customization__section mb-3">
      <div class="text-center flex-1">
        <button class="customization__recorder customization__recorder--inactive"></button> 
      </div>
      <div class="text-center flex-1 customization__play-container customization__play-container--hidden">
        <button class="customization__play"></button> 
      </div>
    </div>

    <h3 class="customization__sub-title">Quel est ton nom ?</h3>
    <div class="customization__form">
      <p class="customization__mention customization__form-label">Ton titre</p>
      <div class="select">
        <select aria-label="Select menu example" id="title-input">
          <option selected value="1">Chevalier</option>
          <option value="2">Chevalière</option>
          <option value="3">Prince</option>
          <option value="4">Princesse</option>
        </select>
      </div>
      <p class="customization__mention customization__form-label">Ton Nom</p>
      <input type="text" class="customization__form-input" id="name-input">
    </div>
  </div>

  <div class="customization__cta">
    <button id="customization-save" class="btn">Partir à l'aventure</button>
  </div>
</div>



<!-- Tree -->
<div id="arborescence-panel" class="panel panel--hidden">
  <div class="panel__container">
    <button class="panel__close"><i class="material-icons">close</i></button>
    <h2 class="title-1 text-center panel__title"><%= @fragment.book.title %></h2>
    <%= link_to "Ma collection de mot", book_marks_box_path(@book_mark), class: "btn btn--slide bottom-center-medium smoothout" %>
  </div>
  <%= render "partials/tree", fragments: @fragments %>
</div>



<!-- Settings -->
<div id="settings-panel" class="panel panel--hidden">
  <div class="panel__container">
    <button class="panel__close"><i class="material-icons">close</i></button>
    <h2 class="title-1 text-center panel__title">Réglages</h2>
    <div class="settings container">
      
      <div class="settings__item">
        <div class="settings__item-label">
          <%= image_tag "picto/picto-img.svg", class: "settings__item-img" %>
          <p class="settings__item-title">Qualité</p>
        </div>
        <div class="settings__item-input">
          <p class="field">
            <span>Faible</span>
            <input id="quality" type="checkbox">
            <label for="quality"></label>
            <span>Haute</span>
          </p>
        </div>
      </div>

      <div class="settings__item">
        <div class="settings__item-label">
          <%= image_tag "picto/picto-participation.svg", class: "settings__item-img" %>
          <p class="settings__item-title">Participation de l'enfant</p>
        </div>
        <div class="settings__item-input">
          <p class="field">
            <span>Non</span>
            <input id="child-participation" type="checkbox">
            <label for="child-participation"></label>
            <span>Oui</span>
          </p>
        </div>
      </div>

      <div class="settings__item">
        <div class="settings__item-label">
          <%= image_tag "picto/picto-commande-vocale.svg", class: "settings__item-img" %>
          <p class="settings__item-title">Commande vocale</p>
        </div>
        <div class="settings__item-input">
          <p class="field">
            <span>Non</span>
            <input id="speech-recognition" type="checkbox">
            <label for="speech-recognition"></label>
            <span>Oui</span>
          </p>
        </div>
      </div>


      <div class="settings__item">
        <div class="settings__item-label">
          <%= image_tag "picto/picto-volume-son.svg", class: "settings__item-img" %>
          <p class="settings__item-title">Volume du son</p>
        </div>
        <div class="settings__item-input">
          <p><input id="sound-gain" type="range" min="0" max="1" step="0.01" value=""></p>
        </div>
      </div>

    </div>
  </div>
</div>


<div id="help-manager" class="help"></div>

<!-- Help -->
<div id="help-panel" class="panel panel--hidden">
  <button class="panel__close"><i class="material-icons">close</i></button>
  <div class="panel__container">
    <div class="text-center">
      <h3 id="help-title" class="font-big bold mb-5">Cherche et trouve</h3>
      <p  id="help-content" class="mb-5 font-medium">Trouve l’objet mentionné dans le texte et touche-le  <br>pour faire avancer l’histoire.</p>
      <%= image_tag "picto/picto-aide.svg", id: "help-logo" %>
    </div>
    <div class="text-center mt-3">
        <a href="#" class="btn">Plus d'aide</a>
      </div>
  </div>
</div>

<!-- Words -->
<div id="word-panel" class="word-panel panel panel--hidden">
  <button class="panel__close"
  data-toggle-target="#word-panel" data-toggle-modifier="panel--hidden">
  <i class="material-icons">close</i>
</button>
  <div class="panel__container">
    <div>
      <video width="300" height="500" id="word-panel-video" class="word-panel__video">
      </video>
    </div>
  </div>
</div>

<script type="text/javascript">

  window.addEventListener("load", function(){
    if( window.book ){

      window.book.dictionnary = <%= raw @fragment.book.dictionnary %>
      window.book.config = <%= raw @book_mark.config.to_json %>
      if(typeof window.book.config === "string") {
        window.book.config = JSON.parse(window.book.config);
      }

      console.log(window.book.config);
      window.book.bookMark = <%= @book_mark.id %>
      loadAsyncScript("/books/<%= @fragment.book.id %>/fragments/<%= @fragment.id %>.js", function(element){
        element.parentNode.removeChild(element);
      });
    }
  })
  
</script>
