<div class="container mt-4" >
	<p>
		<strong>Name:</strong>
		<%= @fragment.name %>
	</p>

	<p>
		<strong>Content:</strong>
		<%= @fragment.content %>
	</p>

	<p>
		<strong>Config:</strong>
		<%= @fragment.config %>
	</p>

	<%= link_to 'Edit', edit_fragment_path(@fragment) %> |
	<%= link_to 'Back', fragments_path %>

</div>
