<%= form_for(book_mark) do |f| %>
  <% if book_mark.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book_mark.errors.count, "error") %> prohibited this book_mark from being saved:</h2>

      <ul>
      <% book_mark.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.text_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :book_id %>
    <%= f.text_field :book_id %>
  </div>

  <div class="field">
    <%= f.label :config %>
    <%= f.text_area :config %>
  </div>

  <div class="field">
    <%= f.label :nb_visit %>
    <%= f.number_field :nb_visit %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
