<%= form_for(book_mark) do |f| %>
  <% if book_mark.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book_mark.errors.count, "error") %> prohibited this book_mark from being saved:</h2>
      <ul>
      <% book_mark.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="codemirror-block" class="field codemirror">
    <%= f.label :config %>
    <%= f.text_area :config, class: "codemirror__textarea" %>
    <button id="" class="material-icons" data-toggle-target="#codemirror-block" data-toggle-modifier="codemirror--full" >
      fullscreen
    </button>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
