<section id="sandbox" class="sandbox bard">
  <canvas class="sandbox__canvas"></canvas>

  <!-- Alphabet -->
  <div class="alphabet__input">
    <svg id="alphabet__sandbox" viewBox="0 0 1920 1280"></svg>
  </div>
  <div class="alphabet__storage">
    <%  ("A".."Z").each do |letter| %>
      <%= svg("typo/"+letter) %>
    <% end %>
  </div>

  <!-- Dialog -->
  <div id="dialog-1" class="dialog">
    <p class="dialog__content">
      <span class="bold block mb-2">Bienvenue dans ta boîte magique !
      <br>Prononce ou écris un mot magique
      <br>pour le faire apparaître.</span>
      <span class="italic">Exemple : Fusée</span>
    </p>
    <span class="btn btn--slide mt-3" data-toggle-target="#dialog-1, #dialog-2" data-toggle-modifier="dialog--hidden, dialog--hidden">J'ai compris</span>
  </div>

  <div id="dialog-2" class="dialog dialog--hidden">
    <p class="dialog__content">
      <span class="bold block">
        Tu peux retrouver ta collection de mots magiques<br>
        en cliquant sur l'icône<br>
        en bas à droite.
      </span>
    </p> 
    <span class="btn btn--slide mt-3" data-toggle-target="#dialog-2, #controller" data-toggle-modifier="dialog--hidden, control--disabled">J'ai compris</span>
  </div>


  <!-- Menu -->
<div id="controller" class="control control--hide control--disabled">
  <button id="control-menu-btn" class="control__btn" data-toggle-target="#controller" data-toggle-modifier="control--hide">
  </button>

  <div class="control__out control__out--4">
    <button class="control__btn control__out-item" data-toggle-target="#dictionnary-box" data-toggle-modifier="panel--hidden">
      <%= image_tag "picto/picto-mots-magiques.svg" %>
      <span class="control__out-item-label">Mes mots<br>magique</span>
    </button>
  </div>

  <div class="control__menu control__menu--3">
    <button class="control__btn control__menu-item" data-toggle-target="#arborescence-panel" data-toggle-modifier="panel--hidden">
      <%= image_tag "picto/picto-boussole.svg" %>
    </button>
    <button class="control__btn control__menu-item" data-target="fullscreen">
      <%= image_tag "picto/picto-fullscreen.svg" %>
    </button>
    <a href="<%= book_path(@book_mark.book) %>" class="control__btn control__menu-item" data-target="pause">
      <%= image_tag "picto/picto-sortie.svg" %>
    </a>
  </div>
</div>


<!-- Tree -->
<div id="arborescence-panel" class="panel panel--hidden">
  <div class="panel__container">
    <button class="panel__close" data-toggle-target="#arborescence-panel" data-toggle-modifier="panel--hidden"><%= image_tag "picto/picto-erreur.svg" %></button>
    <h2 class="title-1 text-center panel__title"><%= @book_mark.book.title %></h2>
    <a href="" class="btn bottom-center-big">Ma collection de mot</a>
  </div>
  <%= render "partials/tree", fragments: @book_mark.book.fragments %>
</div>


<!-- Dictionnary  -->
<div id="dictionnary-box" class="panel panel--hidden panel--no-flex">
  <div class="panel__container mb-5">
    <button class="panel__close" data-toggle-target="#dictionnary-box" data-toggle-modifier="panel--hidden"><%= image_tag "picto/picto-erreur.svg" %></button>
    <h2 class="title-1 text-center panel__title">Mes mots magiques</h2>
  </div>
  
  <div id="dictionnary-storage" class="dictionnary__storage">
    <%= @words.map { |word| { name: word.name, path: word.thumbnail.url,  config: word.config }}.to_json.html_safe %>
  </div>

  <div class="flex flex--between container mb-5">
    <% @words.each do |word| %>
      <div class="magicword dictionnary__list-item">
        <%= image_tag word.thumbnail.url, class: "magicword__img" %>
        <p class="magicword__title"><%= word.name %></p>

        <ul class="magicword__synonymes">
          <% word.config["synonymous"].each do |synonym| %>
          <li class="magicword__synonyme"><%= synonym.capitalize %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>

</section>
