<section id="sandbox" class="sandbox bard">
  <canvas class="sandbox__canvas"></canvas>

  <div class="alphabet__input">
    <svg id="alphabet__sandbox" viewBox="0 0 1920 1280"></svg>
  </div>
  
  <div class="alphabet__storage">
    <%  ("A".."Z").each do |letter| %>
      <%= svg("typo/"+letter) %>
    <% end %>
  </div>

  <!-- Menu -->
<div id="controller" class="control control--hide ">
  <button id="control-menu-btn" class="control__btn" data-toggle-target="#controller" data-toggle-modifier="control--hide">
    <i class="material-icons">pause</i>
  </button>
  <div class="control__menu control__menu--3">
    <button class="control__btn control__menu-item" data-toggle-target="#dictionnary-box" data-toggle-modifier="dictionnary--hidden">
      <%= image_tag "picto/picto-_.svg" %>
    </button>
    <button class="control__btn control__menu-item" data-toggle-target="#arborescence-panel" data-toggle-modifier="panel--hidden">
      <%= image_tag "picto/picto-boussole.svg" %>
    </button>
    <button class="control__btn control__menu-item" data-target="fullscreen">
      <%= image_tag "picto/picto-fullscreen.svg" %>
    </button>
  </div>
</div>

<!-- Tree -->
<div id="arborescence-panel" class="panel panel--hidden">
  <div class="panel__container">
    <button class="panel__close" data-toggle-target="#arborescence-panel" data-toggle-modifier="panel--hidden"><i class="material-icons">close</i></button>
    <h2 class="title-1 text-center panel__title"><%= @book_mark.book.title %></h2>
    <a href="" class="btn bottom-center-big">Ma collection de mot</a>
  </div>
  <%= render "partials/tree", fragments: @book_mark.book.fragments %>
</div>

<div id="dictionnary-box" class="dictionnary dictionnary--hidden">
  <div class="dictionnary__title-container">
    <h2 class="dictionnary__title title-2">Mon dictionnaire</h2>
  </div>
  <div class="dictionnary__list">
    <div class="magicword dictionnary__list-item">
      <%= image_tag "/images/boite.png", class: "magicword__img" %>
      <p class="magicword__title">Boite</p>
    </div>
    <div class="magicword dictionnary__list-item">
      <%= image_tag "/images/boss.png", class: "magicword__img" %>
      <p class="magicword__title">Dragon</p>
      <ul class="magicword__synonymes">
        <li class="magicword__synonyme">Boss</li>
        <li class="magicword__synonyme">Méchant</li>
        <li class="magicword__synonyme">Monstre</li>
      </ul>
    </div>
    <div class="magicword dictionnary__list-item">
      <%= image_tag "/images/fusee.png", class: "magicword__img" %>
      <ul class="magicword__synonymes">
        <li class="magicword__synonyme">Vaisseau</li>
        <li class="magicword__synonyme">Navette</li>
        <li class="magicword__synonyme">Avion</li>
      </ul>
    </div>
  </div>
</div>


</section>
