<!DOCTYPE html>
<html>
  <head>
    <title>Spell</title>
    <%= csrf_meta_tags %>
    
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
    
    <nav class="header__nav header__nav--left">
      <%= link_to root_path do %>
      <h1 class="header__brand header__brand--left">
        <%= image_tag "logo-horizontal" %>
      </h1>
      <% end %>
    </nav>
  
    <nav class="header__nav header__nav--right">
      <ul class="header__menu">
        <li class="header__menu-item">
          <%= link_to "Ma Bibliothèque", book_marks_path %>
        </li>
        <li class="header__menu-item">
          <a href="#" class="header__drop-btn">Account</a>
          <div class="header__drop header__drop--close">
            <%= link_to "Paramètre du compte", edit_user_registration_path, class: "header__drop-item" %>
            <%= link_to "Déconnexion", destroy_user_session_path, :method => "delete", class: "header__drop-item" %>
          </div>
        </li>
      </ul>
    </nav>

  </header>

  <div class="notifications">
    <% if notice %>
    <p class="notification"><%= notice %></p>
    <% end %>
  </div>
    
    <%= yield %>
  
  </body>
</html>
